<div class="layout-{{atts.type}} {% if atts.align %}align-{{atts.align}}{% endif %} {% if atts.solid == true %}solid{% endif %}">
	<div class="section1">
		<header>
			<h1>{{atts.title}}</h1>
		</header>
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
	{% block subcontent %}
		Sorry, no sub content
	{% endblock %}
</div>