{% extends "templates/base.twig" %}
{% block content %}		
	{{content}}
{% endblock %}
{% block subcontent %}
<div class="ghostImg">
	{% include "templates/fade.twig" %}
	<div class="img" style="background-image:url('{{images[0].medium}}')"></div>
</div>
{% endblock %}