<div class="table">
	<div>
		<ul class="icons">
			<li ><a target="_top" href="mailto:cove.colin@gmail.com?Subject=From%20portfolio"><img src="{{theme.path}}/img/mail_sprite.png" /></a></li>
			<li ><a href="https://github.com/colincove" target="_blank"><img src="{{theme.path}}/img/git_sprite.png" /></a></li>
			<li ><a href="https://www.linkedin.com/in/colincove" target="_blank"><img src="{{theme.path}}/img/linkdin-sprite.png" /></a></li>
		</ul>
		<!--<div class="portrait">

		</div>-->
	</div>
</div>
