{% extends "templates/base.twig" %}
{% block content %}
<header>       
    <div class="header-table">
        <div>
            <h1>{{ post.title }}</h1>
            <h2>{{post.get_field('sub_title')}}</h2>
        </div>
    </div>
    <div class="header-bg-container">
         {% include ['templates/fade.twig'] %}
    </div>
    <div class="fade center"></div>
</header>
<section class="main-section">
	
	{% for project in projects %}
		{% set vars = {'projectrender': project} %}
		{% include ['templates/tease-project-'~post.post_type~'.twig', 'templates/tease-project.twig'] with vars %}
	{% endfor %}
	<div class="flex-row">
		{% for project in smallprojects %}
		{% set vars = {'projectrender': project, 'is_small':true} %}
			<div class="col-1of2 margined">
				{% include ['templates/tease-project-'~post.post_type~'.twig', 'templates/tease-project.twig'] with vars %}
			</div>
		{% endfor %}
	</div>
</section>
{% endblock %}
