<div class="nav-inner">
	{% if not is_front_page %}
	<a href="{{site.url}}">home</a>
	{% endif %}
	<a href="{{site.url}}/wp-content/uploads/2016/09/resume.pdf" target="_blank">resume</a>
	<a href="{{site.url}}/blog">blog</a>
</div>
