.fifa{
    background-image: url(../content/fifa/fifa.jpg);
}
.story_01{
    background-image: url(../content/fifa/storyboards/thumbnails/story_01.jpg);
}
.story_02{
    background-image: url(../content/fifa/storyboards/thumbnails/story_02.jpg);
}
.story_03{
    background-image: url(../content/fifa/storyboards/thumbnails/story_03.jpg);
}
.story_04{
    background-image: url(../content/fifa/storyboards/thumbnails/story_04.jpg);
}
.story_05{
    background-image: url(../content/fifa/storyboards/thumbnails/story_05.jpg);
}
.story_06{
    background-image: url(../content/fifa/storyboards/thumbnails/story_06.jpg);
}
.story_07{
    background-image: url(../content/fifa/storyboards/thumbnails/story_07.jpg);
}
.story_08{
    background-image: url(../content/fifa/storyboards/thumbnails/story_08.jpg);
}
.story_09{
    background-image: url(../content/fifa/storyboards/thumbnails/story_09.jpg);
}
.homepage{
    background-image: url(../content/fifa/FUTWeb16/homepage.jpg);
}
.activesquad{
    background-image: url(../content/fifa/FUTWeb16/activesquad.jpg);
}
.gift{
    background-image: url(../content/fifa/FUTCompanion/gift.jpg);
}
.mobilehome{
    background-image: url(../content/fifa/FUTCompanion/mobilehome.jpg);
}
.mobilesquad{
    background-image: url(../content/fifa/FUTCompanion/mobilesquad.jpg);
}
.playersearch{
    background-image: url(../content/fifa/FUTCompanion/thumbnails/playersearch.jpg);
}
.squadlist{
    background-image: url(../content/fifa/FUTCompanion/thumbnails/squadlist.jpg);
}
.store{
    background-image: url(../content/fifa/FUTCompanion/thumbnails/store.jpg);
}
.unassigned{
    background-image: url(../content/fifa/FUTCompanion/thumbnails/unassigned.jpg);
}

.chrysalis-01{
    background-image: url(../content/chrysalis/chrysalis-01.jpg);
}
.chrysalis-02{
    background-image: url(../content/chrysalis/chrysalis-02.jpg);
}
.chrysalis-03{
    background-image: url(../content/chrysalis/chrysalis-03.jpg);
}
.chrysalis-04{
    background-image: url(../content/chrysalis/chrysalis-04.jpg);
}
.chrysalis-09{
    background-image: url(../content/chrysalis/chrysalis-09.jpg);
}
.chrysalis-10{
    background-image: url(../content/chrysalis/chrysalis-10.jpg);
}
.chrysalis-11{
    background-image: url(../content/chrysalis/chrysalis-11.jpg);
}


.urban-01{
    background-image: url(../content/urbanwarfare/urbanwar-01.jpg);
}
.urban-02{
    background-image: url(../content/urbanwarfare/urbanwar-02.jpg);
}
.urban-03{
    background-image: url(../content/urbanwarfare/urbanwar-03.jpg);
}
.urban-04{
    background-image: url(../content/urbanwarfare/urbanwar-04.jpg);
}

.loudcrow-01{
    background-image: url(../content/loudcrowinteractive/loudcrow-01.jpg);
}
.loudcrow-02{
    background-image: url(../content/loudcrowinteractive/loudcrow-02.jpg);
}

.designlibrary-01{
    background-image: url(../content/designlibrary/designlib-01.jpg);
}
.designlibrary-02{
    background-image: url(../content/designlibrary/designlib-02.jpg);
}
.designlibrary-03{
    background-image: url(../content/designlibrary/designlib-03.jpg);
}
.designlibrary-04{
    background-image: url(../content/designlibrary/designlib-04.jpg);
}
.designlibrary-05{
    background-image: url(../content/designlibrary/designlib-05.jpg);
}

.containment-01{
    background-image: url(../content/containment/containment-01.jpg);
}
.containment-02{
    background-image: url(../content/containment/containment-02.jpg);
}
.containment-03{
    background-image: url(../content/containment/containment-03.jpg);
}

.roundworld-01{
    background-image: url(../content/roundworld/roundworld-01.jpg);
}

.profundum_01{
    background-image:url(../content/protoprofundum/thumbnails/profundum_01.jpg);
}
.profundum_02{
    background-image:url(../content/protoprofundum/thumbnails/profundum_02.jpg);
}
.profundum_03{
    background-image:url(../content/protoprofundum/thumbnails/profundum_03.jpg);
}
.profundum_04{
    background-image:url(../content/protoprofundum/thumbnails/profundum_04.jpg);
}
.profundum_05{
    background-image:url(../content/protoprofundum/thumbnails/profundum_05.jpg);
}
.profundum_06{
    background-image:url(../content/protoprofundum/thumbnails/profundum_06.jpg);
}

.protoshooter_01{
    background-image:url(../content/protoshooter/thumbnails/protoshooter_01.jpg);
}
.protoshooter_02{
    background-image:url(../content/protoshooter/thumbnails/protoshooter_02.jpg);
}
.protoshooter_03{
    background-image:url(../content/protoshooter/thumbnails/protoshooter_03.jpg);
}
.protoshooter_04{
    background-image:url(../content/protoshooter/thumbnails/protoshooter_04.jpg);
}
