.fifa{
    background-image: url(../content/fifa/fifa.jpg);
}
.story_01{
    background-image: url(../content/fifa/storyboards/story_01.jpg);
}
.story_02{
    background-image: url(../content/fifa/storyboards/story_02.jpg);
}
.story_03{
    background-image: url(../content/fifa/storyboards/story_03.jpg);
}
.story_04{
    background-image: url(../content/fifa/storyboards/story_04.jpg);
}
.story_05{
    background-image: url(../content/fifa/storyboards/story_05.jpg);
}
.story_06{
    background-image: url(../content/fifa/storyboards/story_06.jpg);
}
.story_07{
    background-image: url(../content/fifa/storyboards/story_07.jpg);
}
.story_08{
    background-image: url(../content/fifa/storyboards/story_08.jpg);
}
.story_09{
    background-image: url(../content/fifa/storyboards/story_09.jpg);
}
.homepage{
    background-image: url(../content/fifa/FUTWeb16/homepage.jpg);
}
.activesquad{
    background-image: url(../content/fifa/FUTWeb16/activesquad.jpg);
}
.gift{
    background-image: url(../content/fifa/FUTCompanion/gift.jpg);
}
.mobilehome{
    background-image: url(../content/fifa/FUTCompanion/mobilehome.jpg);
}
.mobilesquad{
    background-image: url(../content/fifa/FUTCompanion/mobilesquad.jpg);
}
.playersearch{
    background-image: url(../content/fifa/FUTCompanion/playersearch.jpg);
}
.squadlist{
    background-image: url(../content/fifa/FUTCompanion/squadlist.jpg);
}
.store{
    background-image: url(../content/fifa/FUTCompanion/store.jpg);
}
.unassigned{
    background-image: url(../content/fifa/FUTCompanion/unassigned.jpg);
}